.title-bar {
  background-color: #4136BC;

  border-bottom: 2px solid #2B247C;
  height: 100%;
  vertical-align: middle;
}

.title-bar-back:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
}

.title-bar-back {
  display: inline-block;
  height: 50px;
}

.title-bar-back img {
  height: 100%;
  margin-right: 20px;
}

.title-bar-title {
  width: 70%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
  display: inline-block;
  vertical-align: top;
}

.title-bar-title:before {
  content: '';
  display: inline-block;
  height: 60%;
  width: 1px;
}

.title-bar-title span {
  display: inline-block;
  height: 100%;
}
