.friend-cell {
  position: relative;
  height: 130px;
  line-height: 130px;
  width: 100%;
  border-bottom: 1px solid #0066AF;
  background-color: #D3DBED;
}

.friend-cell > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.friend-avatar {
  font-size: 76px;
  display: inline-block;
  vertical-align: middle;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  background-color: white;
  margin-right: 50px;
  margin-left: 30px;
}

.friend-avatar > img {
  vertical-align: top;
  border: 4px solid #0066AF;
  border-radius: 50%;
}

.friend-cell.a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px; 
  overflow: hidden; 
}




